footer.l-footer
	.l-footer-inner
		nav.l-footer-nav
			ul
				li
					a(href="DUMMY") フッターーナビ
				li
					a(href="DUMMY") フッターーナビ
				li
					a(href="DUMMY") フッターーナビ
				li
					a(href="DUMMY") フッターーナビ
		p.l-footer-copyright(lang="en") Copyright © DUMMY All rights Reserved.
	p.mod-pagetop
		a(href="#top" data-scroll="") ページTOPへ
