html
  body
    header.l-header
      .l-header-inner
        h1.l-header-logo
          a(href="/") プロジェクト名
        button.l-header-toggle.mod-sp-menu MENU
        .l-header-menu
          .l-header-menu-inner
            nav.l-header-nav
              ul.mod-header-nav
                li
                  a(href="DUMMY") ヘッダーナビ1
                li
                  a(href="DUMMY") ヘッダーナビ2
                li
                  a(href="DUMMY") ヘッダーナビ3
                li
                  a(href="DUMMY") ヘッダーナビ4
                li
                  a(href="DUMMY") ヘッダーナビ5
            .l-header-close
              button.l-header-close-btn 閉じる
