button.header-toggle.js-sp-menu
	span.close Menu
	span.open Close

.l-header-menu
	nav.l-header-nav
		ul
			li
				a.is-active(href="DUMMY") 下層１
			li
				a(href="DUMMY") 下層２
			li
				a(href="DUMMY") 下層３
			li
				a(href="DUMMY") 下層４
			li
				a(href="DUMMY") 下層５
			li
				a(href="DUMMY") 下層６
			li
				a(href="DUMMY") 下層７
